
body {

  font-family: "Courier", "Lucida Console", monospace;
  font-weight: lighter;
  background-color: #ffffff;

}

h2 {
  color: black;
}

.lp-pom-text ul, li {
    list-style-type: square !important;
}

h1, #Cover--0 .Cover-title {
    font-family: "Courier", "Lucida Console", monospace;
    font-weight: bold;
    text-shadow: 0 0 0.125em rgba(255,255,255,1), 0 0 0.25em rgba(255,255,255,1), 0 0 0.375em rgba(255,255,255,1), 0 0 0.5em #FFFFFF, 0 0 0.875em #FFFFFF, 0 0 1em #FFFFFF, 0 0 1.25em #FFFFFF;
}

h4 {

  font-family: Comic Sans MS !important;

}

footer {

  font-family: "Courier", "Lucida Console", monospace;
  background-color: #afafaf;

}
.instaButton {
	box-shadow:inset 0px 1px 0px 0px #fbafe3;
	background:linear-gradient(to bottom, #ff5bb0 5%, #ef027d 100%);
	background-color:#ff5bb0;
	border-radius:6px;
	border:1px solid #ee1eb5;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Courier New;
	font-size:20px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #c70067;
}
.instaButton:hover {
	background:linear-gradient(to bottom, #ef027d 5%, #ff5bb0 100%);
	background-color:#ef027d;
}
.instaButton:active {
	position:relative;
	top:1px;
}

.fbButton {
	box-shadow:inset 0px 1px 0px 0px #97c4fe;
	background:linear-gradient(to bottom, #3d94f6 5%, #1e62d0 100%);
	background-color:#3d94f6;
	border-radius:6px;
	border:1px solid #337fed;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Courier New;
	font-size:21px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #1570cd;
}
.fbButton:hover {
	background:linear-gradient(to bottom, #1e62d0 5%, #3d94f6 100%);
	background-color:#1e62d0;
}
.fbButton:active {
	position:relative;
	top:1px;
}
